<button type="button" class="btn btn-sm  pull-left" ng-click="toggleBought(item)"
    ng-class="item.bought ? 'btn-success' : 'btn-default'">
    <i class="fa" ng-class="item.bought ? 'fa-check-square-o' : 'fa-square-o'"></i>
</button>
<span style="font-weight:bold" ng-class="{'strike': item.bought}">{{item.itemName | uppercase}}</span>

<button type="button" class="btn btn-sm btn-danger pull-right" ng-click="removeItem(item)">
    <i class="fa fa-trash"></i>
</button>
<a href="#/itemForm/{{item.id}}" class="btn btn-sm btn-default pull-right" style="margin-right: 5px">
    <i class="fa fa-pencil-square-o"></i>
</a>